<div class="col">
  <div class="card shadow-sm">
    <img class="card-img-top" [src]="videoCard.srcImage" [alt]="videoCard.title" width="100%" height="205" />
    <div class="card-body">
      <div class="card-text">
          <h5>{{videoCard.title}}</h5>
          <p>
            {{videoCard.author}}
          </p>
          <p [ngStyle]="{'color': videoCard.nbViews >= 1000000 ? 
            'salmon': (videoCard.nbViews < 1000000 && videoCard.nbViews >= 500000) ? 'green'
            : 'grey'}">
            {{videoCard.nbViews}} de vues
          </p>
      </div>
    </div>
  </div>
</div>